<nav id="nav">
  <ul class="links">
    <li><%= link_to '文章首頁' ,root_path %></li>
    <li class="active"><%= link_to "關於我們", home_about_path %></li>
    <li><%= link_to "聯絡我們", home_contact_path %></li>
    <li><%= link_to "語言百科", home_coming_soon_path %></li>
  </ul>
  <ul class="icons">
    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="https://www.facebook.com/IMHERETODO/" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
  </ul>
</nav>

<!-- Main -->
<div id="main">

  <!-- Post -->
    <section class="post">
      <header class="major">
        <span class="date">June 13, 2018</span>
        <h1>I-M HERE 商業X語言</h1>
        <p>我們都有個想一展長才的夢想，我們都想創造屬於自己的一片天空</p>
      </header>
      <div class="image main"><img src="images/pic01.jpg" alt="" /></div>
      <p>Isla和Mia平常就很喜歡充實自己的商業知識，同時也很熱衷於語言學習，想說既然都學那麼多了，不如整理一下腦袋裡蒐集到的資料，並分享給大家~非常希望我們能幫上大家的忙，也希望能和大家一起交流、變成好朋友 💗💗</p>
      <p>你的每次留言都對Isla、Mia來說都是滿滿的動力💪💪害羞的朋友也歡迎私訊我們~一起來研究、切磋吧🤝</p>
      <p>如果覺得我們的網站對你有幫助的話，請留下評論吧~~寫越多我們越開心~~~😘😘😘</p>
    </section>

</div>