<nav id="nav">
  <ul class="links">
    <li><%= link_to '文章首頁' ,root_path %></li>
    <li class="active"><%= link_to "關於我們", home_about_path %></li>
    <li><%= link_to "聯絡我們", home_contact_path %></li>
  </ul>
  <ul class="icons">
    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
  </ul>
</nav>